
<div  class="container shadow-lg">
        <form>
          <h1>Service LoginForm</h1>
          <label >Mobile Number:</label>
          <input type="text"   placeholder="Enter Number" ><br>
          <label >Password:</label>
          <input type="text"   placeholder="Enter Password" ><br>
          <input   type="checkbox">Remember Me<br>
         <a routerLink="/lin"><button  class="btn btn-primary" >Login</button></a>
          &nbsp;&nbsp;&nbsp;
         
          <button  class="btn btn-warning">Cancel</button><br>
          <a href="#">Forgot Password ?</a>
        </form>
      </div>
    