
<div class="container btn-group-vertical m-3"  > 
        <h1>Service Dashboard</h1>    
            <div class="row">
              <div class="col-sm-12 ">
                    <a routerLink="/vab"><button class="btn btn-primary col-sm-12 ">View All Booking</button> </a>
              </div><br>
              <div class="col-sm-12 ">
                    <a routerLink="/ch"><button class="btn btn-secondary col-sm-12 ">Customer History</button></a>
              </div><br>
              <div class="col-sm-12 ">
                    <a routerLink="/ed"><button class="btn btn-primary col-sm-12 ">Edit Profile</button></a>
              </div><br>
              <div class="col-sm-12 ">
                    <a routerLink="/cp"><button class="btn btn-secondary col-sm-12 ">Change Password</button></a>
              </div><br>
              <div   class="col-sm-12 " >
                    <a routerLink="/co"><button class="btn btn-primary col-sm-12">Confirmed Orders</button> </a>
              </div>
              <div   class="col-sm-12 " >
                    <a routerLink="/ws"><button class="btn btn-secondary col-sm-12">Wallet Status</button> </a>
              </div>
              <div   class="col-sm-12 " >
                    <a routerLink="/tpa"><button class="btn btn-primary col-sm-12">Total Pending Amount</button> </a>
              </div>
              <div   class="col-sm-12 " >
                    <a routerLink="/lg"><button class="btn btn-warning col-sm-12">Logout</button> </a>
              </div>

            </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    