<div class="container">
        <h2>Booking for Wash/Maintainance</h2>
        <form action="/action_page.php" #bookingform='ngForm'>
          <div class="form-group">
            <label >Vehicle Name:</label>
            <input type="text" class="form-control" name="vname" [(ngModel)]="vname" >
          </div>
          <div class="form-group">
            <label >Vehicle Type:</label>
            <select class="form-control" name="vtype" [(ngModel)]="vtype" >
                  <option></option>
                  <option>Sedan</option>
                  <option>Hatchback</option>
                  <option>MUV/SUV</option>
                  <option>Coupe</option>
                  <option>Jeep</option>
                  <option>Convertible</option>
                  <option>Pickup</option>
            </select>
          </div>
          <div class="form-group">
                <label >Vehicle Owner Name:</label>
                <input type="text" class="form-control" name="vowner" [(ngModel)]="vowner" >
          </div>
          <div class="form-group">
                <label >Vehicle Owner Contact:</label>
                <input type="text" class="form-control" name="vcontact" [(ngModel)]="vcontact"  >
          </div>
          <label for="sel1">Service Type (select one):</label>
          <select class="form-control"   name="stype" [(ngModel)]="stype" >
            <option></option>
            <option>Full Service</option>
            <option>Car Wash</option>
            <option>Car Maintainance</option>
          </select>
          <div class="form-group">
                <label >Pick Up:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio"  name="yes" [(ngModel)]="yes"  >Yes
                <input type="radio"   name="no" [(ngModel)]="no" >No
          </div>
          <div class="form-group">
                <label >Area/Location:</label>
                <input type="text" class="form-control"  name="varea" [(ngModel)]="varea" >
          </div>
          <div class="form-group">
                <label >Pickup Date:</label>
                <input type="text" class="form-control"  name="vdate" [(ngModel)]="vdate" >
          </div>
          <div class="form-group">
                <label >Pickup Location:</label>
                <input type="text" class="form-control"  name="vlocation" [(ngModel)]="vlocation"  >
          </div>
          <a routerLink="/book"><button class="btn btn-primary" (click)="bk(bookingform)">Submit</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="cancel"><button class="btn btn-warning">Cancel</button></a>
        </form>
      </div>