
<div class="container btn-group-vertical m-3" style="background:rgba(0,0,0,0.10);" > 
    <h1>User Dashboard</h1>    
        <div class="row">
          <div class="col-sm-12 ">
                <a routerLink="/booking"><button class="btn btn-primary col-sm-12 ">Booking for Servicing</button> </a>
          </div><br>
          <div class="col-sm-12 ">
                <a routerLink="/history"><button class="btn btn-secondary col-sm-12 ">View Older History</button></a>
          </div><br>
          <div class="col-sm-12 ">
                <a routerLink="/edit"><button class="btn btn-primary col-sm-12 ">Edit Profile</button></a>
            </div><br>
          <div class="col-sm-12 ">
                <a routerLink="/cpwd"><button class="btn btn-secondary col-sm-12 ">Change Password</button></a>
          </div><br>
          <div   class="col-sm-12 " >
                <a routerLink="/lout"><button class="btn btn-warning col-sm-12">Logout</button> </a>
            </div>
        </div>
</div>
















