
<div class="container shadow-lg" >
       
    <form class="form" >
            <h1>User Signup Form</h1>
      <label >Name:</label>
      <input type="text"  placeholder="Enter Name" ><br>
      <label >Mobile:</label>
      <input type="text"   placeholder="Enter Number" ><br>
      <label >OTP:</label>
      <input type="text"   placeholder="Enter OTP" ><br>
     <a routerLink="/sig"><button  class="btn btn-primary" >Submit</button></a>
      &nbsp;&nbsp;&nbsp;
      <button  class="btn btn-warning">Cancel</button>
    </form>
  </div>
